<div class="main-card">
    <div class="card {{stats.socialMedia}}" *ngFor="let stats of mainStat" >
    <div class="card-header">
      <object lang="en" [data]="'././assets/images/icon-'+stats.socialMedia+'.svg' | safe" width="20" height="20" type="image/svg+xml" title="{{stats.socialMedia}}">
      </object>
      
      <p>{{stats.accountName}}</p>
    </div>
    <div class="card-content">
      <span>
        {{stats.accountCount}}
        
      </span>
      <p>
          {{stats.accountCountType}}
      </p>
    </div>
    <div class="card-footer">
     
        <span [ngClass]="{'stats-up': stats.isDailyStatPositive, 'stats-down': !stats.isDailyStatPositive}">
          <object *ngIf="stats.isDailyStatPositive" lang="en" data="././assets/images/icon-up.svg" width="8" height="4" type="image/svg+xml" title="up">
          </object> 
          <object *ngIf="!stats.isDailyStatPositive" lang="en" data="././assets/images/icon-down.svg" width="8" height="4" type="image/svg+xml" title="up">
          </object>
          <p> {{stats.dailyStat}} Today</p>
        </span>
       
    </div>
  </div>
</div>
